<launch>
  <!--include file="$(find locobot_localization)/launch/tf_fix.launch" /-->

  <!-- Initial Pose and Goal Publisher -->
  <!-- Publish: /initialpose, /move_base_simple/goal -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find locobot_localization)/config/robot_localization.rviz" >
  </node> 

  <!-- launch map in which to localize -->
  <include file="$(find locobot_localization)/launch/map_server.launch" />

  <!-- Robot Localization -->
  <node pkg="robot_localization" name="ekf_localization_node" type="ekf_localization_node">
    <rosparam command="load" file="$(find locobot_localization)/params/ekf_template.yaml" />
  </node>

  <!-- replay prerecorded data -->
  <include file="$(find locobot_localization)/launch/fixed_bag_player.launch" />
</launch>
