<launch>
  <include file="$(find locobot_localization)/launch/tf_fix.launch" />

  <!-- Initial Pose and Goal Publisher -->
  <!-- Publish: /initialpose, /move_base_simple/goal -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find locobot_localization)/config/slam_toolbox_lifelong.rviz" >
  </node> 

  <!-- launch map in which to localize -->
  <include file="$(find locobot_localization)/launch/map_server.launch" />

  <!-- SLAM toolbox localization-->
  <!-- Subscribe: /scan, /tf, /initialpose, /map -->
  <!-- Publish: /amcl_pose, /particlecloud, /tf -->
  <!--node pkg="slam_toolbox" name="localization_slam_toolbox_node" type="localization_slam_toolbox_node" args="scan:=locobot/scan tf:=locobot/tf"-->
  <node pkg="slam_toolbox" name="lifelong_slam_toolbox_node" type="lifelong_slam_toolbox_node" >
    <param name="do_loop_closing" value="true"/>
  </node>

  <!-- replay prerecorded data -->
  <include file="$(find locobot_localization)/launch/raw_bag_player.launch" />
</launch>
