<launch>
  <!-- Map File -->
  <arg name="map_file" default="$(find locobot_localization)/maps/DAN407_map.yaml" />
  <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

  <!-- map to odom will additionally be provided by the AMCL or other package -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 1 map odom" />
</launch>
